/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

/* Поисковая строка */
.search-container {
  display: flex;
  width: 100%;
  position: relative;
}

#searchBox {
  flex-grow: 1;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #f4f4f9;
  border-radius: 5px;
  outline: none;
}

#searchBtn {
  background: none;
  border: none;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

#searchBtn img {
  width: 24px;
  height: 24px;
}

/* Навигация */
.nav-container {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  padding: 15px;
  margin-bottom: 20px;
}

.navBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.navBtn img {
  width: 20px;
  height: 20px;
}

/* Фильтры */
aside {
  position: absolute;
  left: 0;
  top: 190px;
  background-color: #f4f4f9;
  padding: 15px;
  width: 280px;
  box-sizing: border-box;
}

.filter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clearBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.clearBtn img {
  width: 20px;
  height: 20px;
}

/* Блоки фильтров */
.filter-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.Buttons {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  background-color: #b2b2bc;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
}

.Buttons:hover {
  background-color: #421094;
}

/* Ценовой фильтр */
.price-filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.priceRange {
  font-size: 14px;
  font-weight: bold;
}

/* Карточки студий */
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-left: 300px;
}

.studio-card {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #ffffff;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
}

.studio-card:hover {
  background-color: #f0f0f0;
}

.studio-card img {
  width: 100%;
  height: 180px; /* Ограничиваем высоту */
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

/* Адаптация для мобильных устройств */
@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }

  aside {
    position: static;
    width: 100%;
  }

  .search-container {
    flex-direction: column;
  }
}